.paginationContainer {
    width: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.pageBtn {
    display: block;
    border: none;
    font-size: 12px;
    font-weight: 800;
    color:#1FF2FF;
    background-color: transparent;
    font-weight: 000;
    cursor: pointer;
}

.pageNumber {
    border-style: none;
    font-size: 13px;
    padding: 8px 12px;
    margin: 10px;
    color: white;
    background-color: #AF00B0;
    border-radius: 50px;
    transition: all .3s;
    box-shadow: 2px 2px 12px #AF00B0,
                -2px -2px 12px #AF00B0;
}

.none {
    display: none;
}